<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing major system peg</h1>

  <%= render "form", major_system_peg: @major_system_peg %>

  <%= link_to "Show this major system peg", @major_system_peg, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to major system pegs", major_system_pegs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
