<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing major system</h1>

  <%= render "form", major_system: @major_system %>

  <%= link_to "Show this major system", admin_major_system_path(@major_system), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to major systems", admin_major_systems_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
