<div class="w-full relative">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="text-center">
    <h1 class="font-bold text-4xl">Mnemonic Pegs</h1>
  </div>

  <div id="quick-links" class="my-5">
    <% @pegs.in_batches(of: 10) do |peg_batch| %>
      <div class="btn-toolbar my-2" style="justify-content: center;" role="toolbar" aria-label="Quick links button groups">
        <div class="btn-group me-2" role="group" aria-label="Group">
          <% peg_batch.each do |peg| %>
            <%= link_to peg.number, "##{dom_id(peg)}", class: "peg-image btn btn-outline-secondary", style: "width: 38px;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="pegs">
    <%= render @pegs %>
  </div>

  <%= link_to 'New Peg', new_admin_peg_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium fixed bottom-14 right-14" %>
</div>
